@import "../../styles/abstracts/mixins";

.home {
	&__title {
		text-align: center;
	}

	&__users-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style: none;
		width: 100%;
		padding-left: 10px;
	}
}
